.peculiarity {
  &__list {
    @extend %list;
    display: flex;
  }

  &__item {
    width: 270px;
  }

  &__item + &__item {
    margin-left: 30px;
  }

  &__box {
    // display: inline-flex;
    // align-items: center;
    // justify-content: center;
    @include centeredFlex($type: inline-flex);
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: getColor('secondaryBgr');
    border-radius: 4px;
  }

  &__title {
    @include font(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;

    color: getColor('mainText');
  }

  &__text {
    margin-top: 0;
    margin-bottom: 0;
    color: getColor('secondaryText');

    // font-weight: 400;
    // font-size: 14px;
    // line-height: 1.72;
    // letter-spacing: 0.03em;
    @include font(400, 14px, 1.72, 0.03em);
  }
}
