.logo {
  @extend %link;
  display: inline-block;

  font-family: $secondary-font-family;

  // font-weight: 700;
  // font-size: 26px;
  // line-height: 1.19;
  // letter-spacing: 0.03em;
  @include font(700, 26px, 1.19, 0.03em);

  color: $logo-text-color;
}

.logo__accent {
  color: $brand-color;
}

.logo__text--footer {
  color: $white-color;
}
