.page-header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid $line-color;
}

.page-header__container {
  @extend %container;
  display: flex;
  align-items: center;
}

.page-header__nav {
  display: flex;
  align-items: center;
}
